* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;

}

.menuitem {
    margin-right: 10px;
    margin-left: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg.webp);
    background-size: cover;
    height: 70vh;
}

.textmainimage,
.mainsubtitle {
    color: white;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.25em;
}

.mainsubtitle {
    margin-top: 58px;
    font-size: 32px
}